$primary: #E6E6E6;
$secondary: #2E3031;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

*:focus {
  outline: none;
}

body,
html {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  position: fixed;
  overflow-x: hidden;
  color: $primary;
  background-color: $secondary;
}

html {
  font-size: 112.5%;
}
/*18px*/
a {
  text-decoration: none;
}
@font-face {
  font-family: "PP Woodland";
  src: url("assets/PPWoodland-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PP Woodland";
  src: url("assets/PPWoodland-Ultralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "PP Woodland";
  src: url("assets/PPWoodland-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "PP Woodland";
  src: url("assets/PPWoodland-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PP Woodland', serif;
  font-weight: 400;
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-weight: 800;
  font-size: 7.594rem;
}

h2 {
  font-size: 5.063rem;
  font-weight: 800;
}

h3 {
  font-size: 3.375rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
}

.text_small,
small {
  font-size: 0.667rem;
}

.container {
  padding: 100px 50px;
  height: 100%;
  width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: absolute;
  transform: translateY(calc(-50% + 120px));
  top: 50%;
  width: 780px;
  // height: 415px;
}

.box{
  background: linear-gradient(239.15deg, #DDDDD5 -7.89%, #C9C9C9 105.72%);
  box-shadow: 0px 40px 84px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  justify-content: space-between;
}

.subtitle {
  font-family: IBM Plex Sans;
  font-weight: 200;
  opacity: 0.5;
  text-align: center;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  border: 4px solid $secondary;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
}

.btn:hover{
  background: $secondary;
  color: $primary;
}

.game-btn {
  background: linear-gradient(180deg, #E9D4D4 0%, #999090 100%);
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.47);
  padding: 16px 32px;
  font-size: 27px;
  font-weight: 600;
  transition: all 0.1s ease;
  position: relative;
  top: 0;
}

.game-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.47);
}

.game-btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.47);
  top: 3px;
}

.mb-xs {
  margin-bottom: 10px;
}

.mt-xs {
  margin-top: 10px;
}

.mt-s {
  margin-top: 20px;
}

.mt-m {
  margin-top: 40px;
}

.mt-l {
  margin-top: 60px;
}

.mt-xl {
  margin-top: 80px;
}

body#razar {
  background: $primary;
  color: $secondary;
}

.fade-container{
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 300px;
  z-index: 3;
  background-color: $primary;
  transition: opacity .7s;
}

input {
  background: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 33ch;
  min-width: 4ch !important;
  font-size: 1rem;
  font-family: monospace;
}

input#input-2{
  width: 17ch;
}

.text-box{
  display: flex;
  align-items: center;
  flex-direction: column;
}
