* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

*:focus {
  outline: none;
}

body, html {
  overflow: hidden;
  width: 100vw;
  height: 100%;
}

body {
  position: fixed;
  overflow: hidden;
  color: rgb(236, 235, 212);
  background-color: rgb(22, 22, 22);
}

.titel2 {
  position: absolute;
  top:100px;
  font-weight: 700;
  font-family: Fraunces;
}

.titel {
  line-height: 1.5;
  font-weight: 400;
  font-family: Fraunces;
}

.fade-container {
  opacity: 0;
  pointer-events: none;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgb(22, 22, 22);
  transition: opacity .7s;
}

.titel-container {
  display: flex;
  align-items: center;
  min-height: 200px;
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin-bottom: 40px;
  padding: 20px 40px;
  border: 2px solid rgba(236, 235, 212, .5);
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.container {
  transition: opacity 1s;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
}

.container2 {
  position: absolute;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restart {
  display: none;
}

.aEins, .aZwei, .restart {
  font-size: 16px;
  z-index: 2;
  letter-spacing: 1px;
  cursor: pointer;
  color: black;
  background: rgb(236, 235, 212);
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: transform .1s;
}

.aEins:hover, .aZwei:hover, .restart:hover {
  transform: translate(0, 2px);
}

.aEins:active, .aZwei:active, .restart:active {
  transform: translate(0, 5px);
}

@media (max-width:600px) {
  .titel {
    font-size: 24px;
  }

  .aZwei, .aEins {
    width: 100%;
    padding: 20px 40px;
  }

  .aZwei {
    margin-left: unset !important;
  }

  .aEins {
    margin-bottom: 20px;
  }

  .button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
